<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmum.server.mapper.BookMapper">
    <!--对应mapper接口中的方法public Book queryBook(int id);-->
    <select id="queryBook" resultType="com.xmum.server.entity.Book">
        select * from t_book where id = #{id}
    </select>
</mapper>